*{
    margin:0px;
    padding:0px;
    font-family:sans-serif;
}
body{
    border: 10px solid transparent;
    width:100%;
    height:100vh;
    transition: .2 ease-in;
    background-repeat:no-repeat;
   background-attachment: fixed;
   /* background-position: left;*/background-size:100% 670px;
   border-image: url(border.png) 30 round;
}

.navbar li{
     display:inline;
     padding:0px 15px;
     font-weight:bold;
     color:whitesmoke;
    
}
.navbar li a{
    text-decoration:none ;
}
.navbar li:hover{
    color:cyan;
    box-shadow:inset 0px 15px  #ccffff;
    border-radius: 50%;
    text-shadow: 2px 2px black ;
}
.navbar{
    margin-left:300px;
    padding-top:20px;
    
}
header{
    position: -webkit-sticky;
     position: sticky;
   top: 0;
  display:flex;
  width:100%;
  height:50px;
  background-color: 
  #ffd633;
}
 header img{
    margin-left:200px;
 }

 hr{
   
    width:100%;
    height:5px;
    background-color:#0059b3;
    border:none;
 }
 div .middle{
   
    width:100%;
    height:30px;
    background-color:#0059b3;
    display:flex;
    justify-content:center;
    align-items:center;
 }
 marquee{
    color:white;
    font-weight:bold;
 }
 section{
    width:100%;
    height:100%;
  
}
marquee pre{
    display:inline;
    margin-left:100px;
}
div .news{
background-color: #ffd633;
border:2px solid #ffd633;
width:100px;
height:100%;
display:flex;
justify-content:center;
align-items:center;
color:white;
font-weight: bold;
border:5px solid white;
transition: 0.1em;
}

div .image{
width:100%;
height:100vh;
position:relative;
overflow:hidden;
}
div .slider{
width:100%;
height:100vh;
position: absolute;
top:0;
}
#slideImg{
width: 100%;
height: 85%;
transition: 100s;
}
div .recruiter_page{
width:100%;
height:100%;
}
div .recruiter_page h1{
font-weight: bold;
text-align: center;
}
div .logo{
padding-left:100px;
}
div .footer{
width:100%;
height:200px;
background-color:#0059b3;
color:white;

}
footer div{
display: inline-block;
margin-left:20px;
}
div .footer h1{
font-weight: bold;
margin-left:100px;
}
div .footer h3{
font-weight: bold;
margin-left:100px;
}
